.table {
    border-radius: 12px !important;
}

.saleScroll::-webkit-scrollbar {
    height: 2px;
  }
  
.saleScroll::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    height: 2px;
    border-radius: 4px;
}

.webkit-center {
    text-align: '-webkit-center';
}